In [1]:
import pymongo as pm

In [2]:
client = pm.MongoClient('localhost', 27017)

db = client['test']

collection = db['users']

In [15]:
client = pm.MongoClient('localhost', 40000)

db = client['test']

collection = db['users']

In [4]:
for i in collection.find():
    print(i)

{'_id': ObjectId('626b9059a1cc83918608d7c5'), 'name': 'Tom'}
{'_id': ObjectId('6274221da990261424f713fd'), 'name': 'Daniil', 'age': 21.0, 'gender': 'Male', 'vuz': 'Dubna'}
{'_id': ObjectId('62742a2bf3667013071132b7'), 'name': 'Tom', 'age': 30}
{'_id': ObjectId('62874b41fdbc03b208ab75bf'), 'name': 'Tom', 'age': '28', 'lang': ['eng', 'span']}

In [2]:
import pymysql

In [3]:
conn = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'dan20111965',
    charset = 'utf8',
)

In [4]:
conn

In [5]:
conn.query('use monitor_vuz;')

0

In [6]:
cur = conn.cursor()

In [7]:
cur.execute('SELECT * FROM region;')

83

In [8]:
tab_Reg = cur.fetchall()
tab_Reg

((1, 'Амурская область', 1),
 (2, 'Еврейская автономная область', 1),
 (3, 'Камчатский край', 1),
 (4, 'Магаданская область', 1),
 (5, 'Приморский край', 1),
 (6, 'Республика Саха (Якутия)', 1),
 (7, 'Сахалинская область', 1),
 (8, 'Хабаровский край', 1),
 (9, 'Чукотский автономный округ', 1),
 (10, 'Кировская область', 2),
 (11, 'Нижегородская область', 2),
 (12, 'Оренбургская область', 2),
 (13, 'Пензенская область', 2),
 (14, 'Пермский край', 2),
 (15, 'Республика Башкортостан', 2),
 (16, 'Республика Марий Эл', 2),
 (17, 'Республика Мордовия', 2),
 (18, 'Республика Татарстан', 2),
 (19, 'Самарская область', 2),
 (20, 'Саратовская область', 2),
 (21, 'Удмуртская Республика', 2),
 (22, 'Ульяновская область', 2),
 (23, 'Чувашская Республика', 2),
 (24, 'Архангельская область', 3),
 (25, 'Вологодская область', 3),
 (26, 'Калининградская область', 3),
 (27, 'Ленинградская область', 3),
 (28, 'Мурманская область', 3),
 (29, 'Ненецкий автономный округ', 3),
 (30, 'Новгородская область', 3),
 (31, 'Псковская область', 3),
 (32, 'Республика Карелия', 3),
 (33, 'Республика Коми', 3),
 (34, 'г.Санкт-Петербург', 3),
 (35, 'Ингушская Республика', 4),
 (36, 'Кабардино-Балкарская Республика', 4),
 (37, 'Карачаево-Черкесская Республика', 4),
 (38, 'Республика Дагестан', 4),
 (39, 'Республика Северная Осетия-Алания', 4),
 (40, 'Ставропольский край', 4),
 (41, 'Чеченская Республика', 4),
 (42, 'Алтайский край', 5),
 (43, 'Забайкальский край', 5),
 (44, 'Иркутская область', 5),
 (45, 'Кемеровская область', 5),
 (46, 'Красноярский край', 5),
 (47, 'Новосибирская область', 5),
 (48, 'Омская область', 5),
 (49, 'Республика Алтай', 5),
 (50, 'Республика Бурятия', 5),
 (51, 'Республика Тыва', 5),
 (52, 'Республика Хакасия', 5),
 (53, 'Томская область', 5),
 (54, 'Курганская область', 6),
 (55, 'Свердловская область', 6),
 (56, 'Тюменская область', 6),
 (57, 'Ханты-Мансийский автономный округ', 6),
 (58, 'Челябинская область', 6),
 (59, 'Ямало-Ненецкий автономный округ', 6),
 (60, 'Белгородская область', 7),
 (61, 'Брянская область', 7),
 (62, 'Владимирская область', 7),
 (63, 'Воронежская область', 7),
 (64, 'Ивановская область', 7),
 (65, 'Калужская область', 7),
 (66, 'Костромская область', 7),
 (67, 'Курская область', 7),
 (68, 'Липецкая область', 7),
 (69, 'Московская область', 7),
 (70, 'Орловская область', 7),
 (71, 'Рязанская область', 7),
 (72, 'Смоленская область', 7),
 (73, 'Тамбовская область', 7),
 (74, 'Тверская область', 7),
 (75, 'Тульская область', 7),
 (76, 'Ярославская область', 7),
 (77, 'г.Москва', 7),
 (78, 'Астраханская область', 8),
 (79, 'Волгоградская область', 8),
 (80, 'Краснодарский край', 8),
 (81, 'Республика Адыгея', 8),
 (82, 'Республика Калмыкия', 8),
 (83, 'Ростовская область', 8))

In [9]:
cur.execute('describe region;')
col = cur.fetchall()
col

(('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(200)', 'YES', '', None, ''),
 ('okrug_id', 'int', 'NO', 'MUL', None, ''))

In [10]:
new_col = [c[0] for c in col]

In [11]:
new_col

['id', 'name', 'okrug_id']

In [16]:
collect_name = 'region'
collection = db[collect_name]

In [17]:
for i in range(len(tab_Reg)):
    collection.insert_one({'_' + new_col[0]: tab_Reg[i][0], new_col[1]: tab_Reg[i][1], new_col[2]: tab_Reg[i][2]})